/* default css initialization */
/* variables */
:root {
	--main-color: #214090;
	--secondary-color: #f4f4f4;
	--headings-color: #294862;
	--disabled-color: rgb(102, 102, 104);
	--main-font: "Tajawal", sans-serif;
	--checkmark: url("../images/icons/checkmark.svg");
	--box-radius: 15px;
	--error-color: rgb(144, 41, 41);

	/* CSS HEX */
	--headings-color: #294862;
	--geyser: #d6dce1;
	--bermuda-gray: #6c8b9d;
	--eastern-blue: #2198b9;
	--java: #1ebadc;
	--jelly-bean: #27718f;
	--slate-gray: #64748b;
	--tangaroa: #04183b;
}

/* Global Rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	display: inline-block;
}
ul {
	list-style-type: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--main-font);
}
img {
	width: 300px;
	height: 300px;
}
body .deactive {
	display: none;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--headings-color);
}

button {
	border-style: none;
	font-family: var(--main-font);
}
input,
input::placeholder {
	font-family: var(--main-font);
}

.container {
	padding: 0 15px;
	margin: auto;
	min-height: calc(100vh - 233px);
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (max-width: 992px) {
	.meetings-content .container {
		width: auto;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Big */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Large */
@media (min-width: 1600px) {
	.container {
		width: 1550px;
	}
}

/* Header */

header {
	display: flex;
	justify-content: space-around;

	text-align: center;
	margin: 10px;
}

header h1 {
	font-size: 24px;
	color: var(--headings-color);
}
header .logo {
	width: 110px;
	height: 100px;
}
header .user-logged img {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	border: 4px solid var(--headings-color);
}
header .user-logged button {
	color: var(--main-color);
	background-color: #fff;
	border: 2px solid var(--main-color);
	font-weight: bold;
	padding: 1px 5px;
	font-size: 15px;
	margin: 0;
	border-radius: 5px;
}
header .user-name {
	font-size: 1em;
}
header .header-container {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

@media (max-width: 430px) {
	header h1 {
		font-size: 18px;
	}
	header h3,
	header h4 {
		font-size: 12px;
	}
	header .logo {
		width: 80px;
		height: 70px;
	}
}
@media (max-width: 650px) {
	header {
		flex-direction: column-reverse;
	}
}
/* Navigation Links  */

.nav-bar {
	background-color: var(--secondary-color);
}
nav {
	display: flex;
	justify-content: space-between;

	padding: 10px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
}
nav ul li {
	margin: 0 15px;
}
nav .links {
	display: flex;
}

nav ul li a {
	color: #000;
	font-weight: 500;
	border-radius: 7px;
	box-shadow: inset 0 0 0 0 var(--main-color);
	color: var(--main-color);
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
	box-shadow: inset -150px 0 0 0 var(--main-color);
	color: var(--secondary-color);
}

nav ul .icon {
	color: var(--main-color);
	padding: 5px;
	background-color: #fff;
	display: none;
}

/* medium screen */
@media (max-width: 1140px) {
	nav ul .icon {
		display: block;
		cursor: pointer;
	}

	nav ul,
	nav ul .links {
		flex-direction: column;
		align-items: flex-start;
	}
	nav .deactive {
		display: none;
	}
	nav .links {
		max-height: 0;
		overflow: hidden;
		transition: 0.5s;
	}

	nav .links.open {
		max-height: 350px;
		margin-top: 40px;
	}

	nav ul li {
		margin: 10px 0;
	}
}

/* Footer */
footer {
	margin-top: auto;
	padding: 10px;
	background-color: var(--main-color);
	text-align: center;
}
footer p {
	color: #fff;
}

/* Reusable Components  */

.components {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 15px;
}

/* 1. buttons and links styles  */
.btn-basic {
	background-color: var(--main-color);
	color: #fff;
	padding: 10px;
	margin: 5px 10px;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	min-width: 80px;
}
.btn-basic:active {
	border: 1px solid #000;
}
.disabled,
.disabled:active {
	background-color: var(--disabled-color);
	border: none;
}

/* 2. text input fields */
input,
textarea {
	outline: 0;
	margin: 10px;
	padding: 7px;
	width: 50vmin;
	border: 2px solid rgb(121, 121, 121);
	border-radius: 10px;
}
input:focus,
textarea:focus {
	border: 2px solid var(--main-color);
}

input[type="number"] {
	width: 10vmin;
}

.password-box {
	position: relative;
}

.password-box .fa-eye-slash,
.password-box .fa-eye {
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--tangaroa);
}

textarea {
	width: 50vmin;
	height: 15vmin;
}

input[type="date"] {
	text-align: center;
}

/* 3. Checkbox And Radio Button  */

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	border: 2px solid #ccc;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	outline: none;
	margin: 10px;
}
input[type="checkbox"] {
	border-radius: 0;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: var(--main-color);
	border-color: #000;
	background-image: var(--checkmark);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

/* 4. Search Bar */
.search-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px;
	gap: 20px;
}

.container .search-container {
	display: none;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search button,
.search input {
	border-radius: 0%;
	margin: 0;
	padding: 10px 15px;
}
.search button,
.search input,
.search .select-basic {
	height: 40px;
}
@media (max-width: 768px) {
	.search button,
	.search input,
	.search .select-basic {
		height: 37px;
	}
}
.search input {
	width: 23vmax;
	max-width: 230px;
}
.search button {
	border-radius: 7px 0px 0 7px;
	min-width: auto;
}
@media (max-width: 420px) {
	.container .search-container {
		display: flex;
	}
	nav .search {
		display: none;
	}
}

/* 5. Select Drop Down Lists */

.select-basic {
	position: relative;
	width: 50vmin;
}

.select-basic select {
	display: none;
}

.select-selected {
	background-color: var(--tangaroa);
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	left: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
	border-radius: 0 7px 7px 0;
}

.select-items {
	/* position: absolute; */
	background-color: var(--main-color);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
.search .select-items {
	position: absolute;
}
.search .select-basic {
	width: 23vmin;
	min-width: 17ch;
}
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
/* 6. Upload Buttons */

input[type="file"] {
	display: none;
}
.upload,
.upload label,
.upload i {
	cursor: pointer;
}

.upload label {
	width: 35vmin;
	min-width: 100%;
	display: inline-block;
	padding: 10px;
}
.upload .btn-basic {
	padding: 0;
}

.another-content {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
}
.upload .file-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.upload .file-list p {
	text-align: center;
}
.upload .file-list img {
	width: 110px;
	height: 110px;
}

/* 7. Errors */
.error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 25px;
	min-height: calc(100vh - 233px);
}
.error img {
	width: 50px;
	height: 50px;
}
.error p {
	color: var(--error-color);
	font-size: 1.3rem;
	font-weight: 800;
}
.login-error {
	color: var(--error-color);
	font-weight: bold;
	text-align: center;
}

/* Printing Stuff */
@page {
	size: A4;
	margin: 50px 0;
}
@media print {
	* {
		color: #000 !important;
	}
	body {
		font-family: "Times New Roman", Times, serif;
		line-height: 1.5;
	}

	header .user-logged,
	header .header-title .project-title,
	header .header-title .prog-name,
	.nav-bar,
	footer,
	button,
	.subjects-table-page .title h1,
	.prog-logo {
		display: none;
	}
	header .header-container {
		justify-content: center;
	}
	header .univ-logo {
		width: 70px;
		height: 80px;
	}
	table td {
		page-break-inside: avoid;
	}
	.table-container {
		margin: 0;
	}
}
/* !DONT TOUCH (VARIABLES / GLOBAL RULES / HEADER / FOOTER / Navigation) FROM ABOVE* */
