/* default css initialization */
/* variables */
:root {
	--main-color: #214090;
	--secondary-color: #f4f4f4;
	--headings-color: #294862;
	--disabled-color: rgb(102, 102, 104);
	--main-font: "Tajawal", sans-serif;
	--checkmark: url("../images/icons/checkmark.svg");
	--box-radius: 15px;

	/* CSS HEX */
	--headings-color: #294862;
	--geyser: #d6dce1;
	--bermuda-gray: #6c8b9d;
	--eastern-blue: #2198b9;
	--java: #1ebadc;
	--jelly-bean: #27718f;
	--slate-gray: #64748b;
	--tangaroa: #04183b;
}

/* Global Rules */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	display: inline-block;
}
ul {
	list-style-type: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: var(--main-font);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1037%26quot%3b)' fill='none'%3e%3cpath d='M1895.792%2c1097.473C1953.206%2c1095.708%2c2006.688%2c1067.681%2c2035.576%2c1018.033C2064.632%2c968.095%2c2063.304%2c907.292%2c2036.108%2c856.317C2007.103%2c801.952%2c1957.41%2c756.053%2c1895.792%2c756.029C1834.141%2c756.005%2c1785.961%2c802.729%2c1755.284%2c856.206C1724.785%2c909.372%2c1709.439%2c974.145%2c1740.285%2c1027.111C1770.973%2c1079.806%2c1834.841%2c1099.347%2c1895.792%2c1097.473' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M808.652%2c535.903C879.48%2c534.038%2c948.815%2c503.531%2c983.067%2c441.507C1016.35%2c381.239%2c998.614%2c310.556%2c966.824%2c249.488C931.645%2c181.911%2c884.757%2c109.947%2c808.652%2c106.465C728.388%2c102.793%2c662.212%2c163.498%2c623.254%2c233.769C585.588%2c301.709%2c576.941%2c384.92%2c617.57%2c451.13C656.631%2c514.785%2c733.994%2c537.869%2c808.652%2c535.903' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M481.919%2c1182.261C583.751%2c1181.641%2c691.614%2c1145.811%2c736.728%2c1054.515C778.651%2c969.677%2c726.078%2c875.31%2c671.961%2c797.68C627.232%2c733.518%2c560.09%2c691.59%2c481.919%2c688.998C398.53%2c686.233%2c316.833%2c716.146%2c268.716%2c784.308C211.569%2c865.261%2c174.881%2c970.306%2c221.677%2c1057.652C270.358%2c1148.517%2c378.837%2c1182.889%2c481.919%2c1182.261' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1255.837%2c906.573C1328.565%2c903.206%2c1391.855%2c858.543%2c1425.8%2c794.135C1457.533%2c733.923%2c1446.637%2c664.357%2c1415.348%2c603.913C1380.695%2c536.971%2c1331.211%2c466.745%2c1255.837%2c465.806C1179.463%2c464.855%2c1127.503%2c533.717%2c1089.291%2c599.851C1051.049%2c666.037%2c1019.769%2c744.066%2c1056.245%2c811.242C1093.954%2c880.689%2c1176.898%2c910.227%2c1255.837%2c906.573' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M159.164%2c1039.427C234.678%2c1033.61%2c299.222%2c990.602%2c337.953%2c925.516C377.713%2c858.702%2c392.462%2c777.318%2c356.008%2c708.645C317.396%2c635.907%2c241.45%2c591.99%2c159.164%2c588.708C70.474%2c585.171%2c-19.341%2c616.831%2c-66.89%2c691.78C-117.73%2c771.916%2c-126.414%2c877.74%2c-74.679%2c957.302C-26.41%2c1031.535%2c70.88%2c1046.228%2c159.164%2c1039.427' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M115.207%2c891.263C181.856%2c891.075%2c253.521%2c882.443%2c290.288%2c826.853C330.361%2c766.264%2c333.388%2c683.428%2c292.281%2c623.536C254.983%2c569.194%2c181.105%2c570.476%2c115.207%2c571.767C52.525%2c572.995%2c-14.625%2c578.655%2c-50.245%2c630.247C-90.421%2c688.437%2c-99.452%2c768.122%2c-61.594%2c827.846C-25.667%2c884.524%2c48.102%2c891.452%2c115.207%2c891.263' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1521.05%2c470.937C1589.453%2c464.489%2c1634.506%2c408.107%2c1669.976%2c349.265C1707.139%2c287.615%2c1747.894%2c215.42%2c1713.045%2c152.433C1677.558%2c88.295%2c1594.334%2c81.675%2c1521.05%2c80.095C1443.726%2c78.428%2c1357.825%2c79.997%2c1314.163%2c143.836C1265.962%2c214.311%2c1268.36%2c310.662%2c1314%2c382.822C1356.973%2c450.765%2c1441.013%2c478.482%2c1521.05%2c470.937' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M507.167%2c1341.644C587.731%2c1338.375%2c630.625%2c1254.512%2c667.49%2c1182.803C700.17%2c1119.235%2c724.85%2c1047.058%2c690.969%2c984.123C655.604%2c918.432%2c581.753%2c883.265%2c507.167%2c885.001C435.49%2c886.669%2c374.13%2c930.649%2c337.609%2c992.346C300.302%2c1055.372%2c290.62%2c1130.912%2c322.603%2c1196.799C359.207%2c1272.204%2c423.416%2c1345.043%2c507.167%2c1341.644' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1775.287%2c544.259C1827.335%2c543.517%2c1879.434%2c523.22%2c1904.978%2c477.866C1930.125%2c433.216%2c1919.055%2c379.155%2c1893.189%2c334.918C1867.61%2c291.173%2c1825.953%2c256.962%2c1775.287%2c256.067C1723.192%2c255.147%2c1676.884%2c286.024%2c1649.946%2c330.623C1621.976%2c376.931%2c1611.657%2c434.994%2c1639.033%2c481.655C1666.142%2c527.861%2c1721.721%2c545.022%2c1775.287%2c544.259' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1747.512%2c1107.676C1794.347%2c1106.461%2c1835.952%2c1081.331%2c1860.788%2c1041.605C1887.397%2c999.043%2c1897.873%2c947.188%2c1876.132%2c901.946C1851.29%2c850.25%2c1804.829%2c807.977%2c1747.512%2c805.877C1686.998%2c803.659%2c1629.071%2c837.988%2c1601.458%2c891.881C1575.809%2c941.94%2c1592.05%2c1001.177%2c1623.577%2c1047.759C1651.143%2c1088.488%2c1698.348%2c1108.952%2c1747.512%2c1107.676' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1037'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
img {
	width: 300px;
	height: 300px;
}
body .deactive {
	display: none;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--headings-color);
}

button {
	border-style: none;
	font-family: var(--main-font);
}
input,
input::placeholder {
	font-family: var(--main-font);
}

.container {
	padding: 0 15px;
	margin: auto;
	min-height: calc(100vh - 233px);
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

/* Big */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* Large */
@media (min-width: 1600px) {
	.container {
		width: 1550px;
	}
}

/* Header */

header {
	display: flex;
	justify-content: space-around;

	text-align: center;
	margin: 10px;
}

header h1 {
	font-size: 24px;
	color: var(--headings-color);
}
header .logo {
	width: 110px;
	height: 100px;
}
header .user-logged img {
	width: 70px;
	height: 70px;
	border-radius: 5px;
	border: 4px solid var(--headings-color);
}
header .user-logged button {
	color: var(--main-color);
	background-color: #fff;
	border: 2px solid var(--main-color);
	font-weight: bold;
	padding: 1px 5px;
	font-size: 15px;
	margin: 0;
	border-radius: 5px;
}
header .user-name {
	font-size: 1em;
}
header .header-container {
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 15px;
}

@media (max-width: 430px) {
	header h1 {
		font-size: 18px;
	}
	header h3,
	header h4 {
		font-size: 12px;
	}
	header .logo {
		width: 80px;
		height: 70px;
	}
}
@media (max-width: 650px) {
	header {
		flex-direction: column-reverse;
	}
}
/* Navigation Links  */

.nav-bar {
	background-color: var(--secondary-color);
}
nav {
	display: flex;
	justify-content: space-between;

	padding: 10px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 0;
}
nav ul li {
	margin: 0 15px;
}
nav .links {
	display: flex;
}

nav ul li a {
	color: #000;
	font-weight: 500;
	border-radius: 7px;
	box-shadow: inset 0 0 0 0 var(--main-color);
	color: var(--main-color);
	margin: 0 -0.25rem;
	padding: 0 0.25rem;
	transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
	box-shadow: inset -150px 0 0 0 var(--main-color);
	color: var(--secondary-color);
}

nav ul .icon {
	color: var(--main-color);
	padding: 5px;
	background-color: #fff;
	display: none;
}

/* medium screen */
@media (max-width: 942px) {
	nav ul .icon {
		display: block;
	}
	nav ul,
	nav ul .links {
		flex-direction: column;
		align-items: flex-start;
	}
	nav .deactive {
		display: none;
	}
	nav ul .links {
		margin-top: 40px;
	}
	nav ul li {
		margin: 10px 0;
	}
}

/* Footer */
footer {
	margin-top: auto;
	padding: 10px;
	background-color: var(--main-color);
	text-align: center;
}
footer p {
	color: #fff;
}

/* Reusable Components  */

.components {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 15px;
}

/* 1. buttons and links styles  */
.btn-basic {
	background-color: var(--main-color);
	color: #fff;
	padding: 10px;
	margin: 5px 10px;
	border-radius: 20px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.btn-basic:active {
	border: 1px solid #000;
}
.disabled,
.disabled:active {
	background-color: var(--disabled-color);
	border: none;
}

/* 2. text input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea {
	outline: 0;
	margin: 10px;
	padding: 7px;
	width: 50vmin;
	border: 2px solid var(--main-color);
	border-radius: 10px;
}

input[type="number"] {
	width: 10vmin;
}

.password-box {
	position: relative;
}

.password-box .fa-eye-slash,
.password-box .fa-eye {
	position: absolute;
	top: 20px;
	left: 20px;
	color: var(--tangaroa);
}

textarea {
	width: 50vmin;
	height: 15vmin;
}

input[type="date"] {
	text-align: center;
}

/* 3. Checkbox And Radio Button  */

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	border: 2px solid #ccc;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	outline: none;
	margin: 10px;
}
input[type="checkbox"] {
	border-radius: 0;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
	background-color: var(--main-color);
	border-color: #000;
	background-image: var(--checkmark);
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

/* 4. Search Bar */
.search {
	display: flex;
	justify-content: center;

	align-items: flex-start;
}
.search button,
.search input {
	border-radius: 0%;
	margin: 0;
	padding: 10px 15px;
	height: 40px;
}
.search input {
	width: 23vmax;
	max-width: 230px;
	border-radius: 0 7px 7px 0;
}
.search button {
	border-radius: 7px 0px 0 7px;
}

/* 5. Select Drop Down Lists */

.select-basic {
	position: relative;
	width: 50vmin;
}

.select-basic select {
	display: none;
}

.select-selected {
	background-color: var(--tangaroa);
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	left: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

.select-items {
	/* position: absolute; */
	background-color: var(--main-color);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}

.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
/* 6. Upload Buttons */

input[type="file"] {
	display: none;
}
.upload,
.upload label,
.upload i {
	cursor: pointer;
}

.upload label {
	width: 35vmin;
	min-width: 100%;
	display: inline-block;
	padding: 10px;
}
.upload .btn-basic {
	padding: 0;
}

.another-content {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aliceblue;
}
.upload .file-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.upload .file-list p {
	text-align: center;
}
.upload .file-list img {
	width: 110px;
	height: 110px;
}
/* Printing Stuff */
@page {
	size: A4;
	margin: 50px 0;
}
@media print {
	* {
		color: #000 !important;
	}
	body {
		font-family: "Times New Roman", Times, serif;
		line-height: 1.5;
	}

	header .user-logged,
	header .header-title .project-title,
	header .header-title .prog-name,
	.nav-bar,
	footer,
	button,
	.subjects-table-page .title h1,
	.prog-logo {
		display: none;
	}
	header .header-container {
		justify-content: center;
	}
	header .univ-logo {
		width: 70px;
		height: 80px;
	}
	table td {
		/* page-break-inside: avoid; */
	}
	.table-container {
		margin: 0;
	}
}
/* !DONT TOUCH (VARIABLES / GLOBAL RULES / HEADER / FOOTER / Navigation) FROM ABOVE* */
