/*  Css Components and Initialize Styles  */
:root {
	--main-color: #214090;
	--secondary-color: #f4f4f4;
	--headings-color: #294862;
	--disabled-color: rgb(102, 102, 104);
	--main-font: "Tajawal", sans-serif;
	--checkmark: url("../images/icons/checkmark.svg");
	--box-radius: 15px;

	/* CSS HEX */

	--geyser: #d6dce1;
	--bermuda-gray: #6c8b9d;
	--eastern-blue: #2198b9;
	--java: #1ebadc;
	--jelly-bean: #27718f;
	--slate-gray: #64748b;
	--tangaroa: #04183b;
}
@media (max-width: 768px) {
	body,
	.btn-basic {
		font-size: 90%;
	}
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.col {
	display: flex;
	flex-direction: column;
}

/* *Css for Meetings Page */
/* ############################ */

/* Current Meeting  */
.meetings-content,
.members-content,
.exec-decision-content {
	margin: 10px;
	min-height: 100vh;
}
.add-meeting,
.add-member {
	position: sticky;
	bottom: 15px;
}
.meetings-title,
.members-title,
.decision-title {
	text-align: center;
}
.box,
.meeting-box,
.old-meeting-box,
.member-box,
.decision-box {
	padding: 30px;
	margin: 20px;
	background-color: var(--secondary-color);
	border-radius: var(--box-radius);
}

.meeting-box h4,
.old-meeting-box h4,
.member-box h4 {
	margin: 10px;
}
.meeting-box .row {
	margin-bottom: 70px;
}
.current-meeting-buttons,
.old-meeting-box .row > .col:nth-child(2) {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
@media (max-width: 650px) {
	.current-meeting-buttons,
	.row,
	.member-box .row > .col:nth-child(2),
	.old-meeting-box .row > .col:nth-child(2) {
		display: flex;
		flex-direction: column !important;
		align-items: stretch;
	}
	.member-box .row,
	.member-box .row > .col:nth-child(2) {
		align-items: center;
	}
}

/* Old Meetings */

.old-meeting-box h4,
.meeting-box h4,
.member-box h4 {
	min-width: 116px;
}

/* Empty Meeting */

.empty-meeting,
.empty-member {
	padding: 200px 100px;
	text-align: center;
}

/* *Css for Meetings Page */
/* ############################ */
.member-box .member-image {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.member-box .member-details {
	margin-top: 70px;
}
.member-box .member-details .row {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
}
.member-box .member-details h4 {
	margin: 15px 0;
}

/* *Css for Executive Decisions Page */
/* ############################ */

.decision-filter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 75px;
}

.decision-box .row {
	margin-bottom: 20px;
}

.decision-box .decision-buttons > .row:nth-child(1),
.decision-box .decision-buttons form > .row:nth-child(2) {
	flex-direction: column;
}
.decision-box .decision-buttons form > .row:nth-child(1) {
	justify-content: space-evenly;
}
.decision-box .decision-buttons .row > .col {
	align-items: center;
}

.non-executed-dec {
	margin-top: 150px;
}
/* ?===============================Mohamed Fathi Style==================================== */
/* *start vote page */
/* !======================================================================= */
.voting-content {
	margin: 15px;
}


.voting-content .box form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.voting-content .vote-radio {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;

}

.voting-content .box .row {
	margin-bottom: 20px;
}
@media (max-width: 768px) {
	.voting-content .vote-radio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
	.voting-content form .row textarea {
		max-width: 200px;
	}
	}
	/* !======================================================================= */
/* *End vote page */
